body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  background-color: bisque;
  height: 500px;
  width: 500px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pilota {
  background-color: #8d8d05;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  animation-name: bota;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  transition-timing-function: cubic-bezier(.76,.05,.86,.06);
}


@keyframes bota {
  10% {
    height: 70px;
    width: 70px;
  }
  15%{
    height: 70px;
    width: 66px;
  }
  20% {
    height: 52px;
    width: 80px;
    transform: translate(74px, 447px); 
  }
  25%{
    height: 70px;
    width: 80px;
  }
  30% {
    height: 70px;
    width: 70px;
    transform: translate(140px, 200px);
  }
  35% {
    height: 70px;
    width: 66px;
  }
  40% {
    height: 52px;
    width: 80px;
    transform: translate(250px, 447px);
  }
  45% {
    height: 70px;
    width: 80px;
  }
  50% {
    height: 73px;
    width: 67px;
    transform: translate(433px, 100px);
  }
  65% {
    height: 70px;
    width: 66px;
  }
  70% {
    height: 52px;
    width: 80px;
    transform: translate(250px, 442px);
  }
  75% {
    height: 70px;
    width: 80px;
  }
  80% {
    height: 70px;
    width: 70px;
  }

}

