body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.container {
  background-color: bisque;
  height: 500px;
  width: 500px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.pilota {
  background-color: #8d8d05;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  -webkit-animation-name: bota;
          animation-name: bota;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-transition-timing-function: ease-in;
          transition-timing-function: ease-in;
}

@-webkit-keyframes bota {
  10% {
    -webkit-transform: translate(74px, 430px);
            transform: translate(74px, 430px);
  }
  20% {
    -webkit-transform: translate(140px, 200px);
            transform: translate(140px, 200px);
  }
  30% {
    -webkit-transform: translate(250px, 430px);
            transform: translate(250px, 430px);
  }
  40% {
    -webkit-transform: translate(430px, 100px);
            transform: translate(430px, 100px);
  }
  50% {
    -webkit-transform: translate(250px, 430px);
            transform: translate(250px, 430px);
  }
  70% {
    -webkit-transform: translate(180px, 100px);
            transform: translate(180px, 100px);
  }
  90% {
    -webkit-transform: translate(50px, 430px);
            transform: translate(50px, 430px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes bota {
  10% {
    -webkit-transform: translate(74px, 430px);
            transform: translate(74px, 430px);
  }
  20% {
    -webkit-transform: translate(140px, 200px);
            transform: translate(140px, 200px);
  }
  30% {
    -webkit-transform: translate(250px, 430px);
            transform: translate(250px, 430px);
  }
  40% {
    -webkit-transform: translate(430px, 100px);
            transform: translate(430px, 100px);
  }
  50% {
    -webkit-transform: translate(250px, 430px);
            transform: translate(250px, 430px);
  }
  70% {
    -webkit-transform: translate(180px, 100px);
            transform: translate(180px, 100px);
  }
  90% {
    -webkit-transform: translate(50px, 430px);
            transform: translate(50px, 430px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}